{% extends 'newsletter/base.html' %}
{% load my_tags %}
{% block content %}
<h1 class="text-center mb-4">Детали Сообщения</h1>
<div class="container">
    <p style="font-size: larger;"><strong>Тема:</strong> {{ object.subject }}</p>
    <p style="font-size: larger;"><strong>Тело сообщения:</strong></p>
    <p style="margin-left: 10px; word-wrap: break-word; max-width: 100%; white-space: pre-wrap;">{{ object.body }}</p>

    <div class="d-flex justify-content-center mt-4 align-items-center">
        <div class="mr-3">
            <a href="{% url 'newsletter:message_update' object.id %}" class="btn"
               style="background-color: #FFD700; border: none; border-radius: 5px; padding: 10px 20px; color: white; font-size: 16px; text-decoration: none; transition: background-color 0.3s;">
                Редактировать
            </a>
        </div>
        <div style="margin-left: 5cm; margin-top: -0.46cm;">
            <a href="{% url 'newsletter:message_delete' object.id %}" class="btn"
               style="background-color: #dc3545; border: none; border-radius: 5px; padding: 10px 20px; color: white; font-size: 16px; text-decoration: none; transition: background-color 0.3s;">
                Удалить
            </a>
        </div>
    </div>
    <div class="mt-4" style="margin-top: 0.9cm;">
        <a href="{% url 'newsletter:message_list' %}" class="btn"
           style="background-color: #007BFF; border: none; border-radius: 5px; padding: 10px 20px; color: white; font-size: 16px; text-decoration: none; transition: background-color 0.3s;">
            Назад к списку сообщений
        </a>
    </div>
</div>

<style>
    .btn {
        width: 150px;
    }

    .btn:hover {
        opacity: 0.9;
    }

    .btn[href^="messages_update"]:hover {
        background-color: #FFC107;
    }

    .btn[href^="messages_list"]:hover {
        background-color: #0056b3;
    }

    .btn:active {
        transform: scale(0.95);
    }
</style>
{% endblock %}